mpv/playlists/*
yazi/tags/
yazi/scripts/*.log
yazi/scripts/*.json
radiant-player/*.json
radiant-player/*.log
spotify-player/app.toml
*.lock
todolist.md
*.svg
*.png
*.jpg
*.jpeg
*.txt
*/__pycache__/*
*/*/__pycache__/*
mpv/watch_later/*
joplin-desktop/*
github-copilot/*
raycast/*
.aider*
